﻿
@{
    ViewBag.Title = "Index";
}
@model List<lab11.Models.Address>

<h2>Index</h2>

@foreach (var item in Model)
 {
    <div class="first"> @item.FirstName</div>
    <div class="last"> @item.LastName</div>
    <div class="email"> email: @item.Email</div>
 }
