﻿@model IEnumerable<lab12.Models.Customer>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        @{/*<th>
@Html.DisplayNameFor(model => model.LastName)
</th>
*/}
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        @{ /*
          <td>
              @Html.DisplayFor(modelItem => item.LastName)
          </td>
          */
        }
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.CustId }) |
            @Html.ActionLink("Details", "Details", new { id = item.CustId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.CustId })
            @Html.ActionLink("Purchases", "Purchases", "PurchasesController", new { id = item.CustId }, null)
        </td>
    </tr>
}

</table>
